# ignore ansible playbook retry files
/**/*/*.retry

# ignore ssh key files anywhere
/**/*/*.pub
/**/*/*id_rsa*

# link checker
/node_modules

# anything labeled secret...
/**/*/*secret*
#...except the template file
!/ubuntu-virtualbox/secret.yml.template

# vagrant
/**/*/*.vagrant

# tar files
/**/*/actions-runner-linux-*tar.gz

# poetry
/**/*/poetry.lock

# environment files
/**/*/.env

# other
/**/*/pyproject.toml

