vagrants:
  hosts:
    vagrant:
  vars:
    ansible_user: vagrant 
    ansible_connection: ssh 
    ansible_host: 127.0.0.1 
    ansible_port: 2222
    ansible_ssh_private_key_file: .vagrant/machines/default/virtualbox/private_key
    # Newer Ansible expect python to be v3, while in Ubuntu 18.04 it is still v2
    ansible_python_interpreter: /usr/bin/python3
    # Please update with your GitHub account/organization
    github_account: ci-for-science
    # Please update with your GitHub repository
    github_repo: example-python-1
ungrouped:
  hosts:
    localhost:
  vars:
      # Set localhost to not use become, otherwise actions-runner role fails
      ansible_become: false
      # Newer Ansible expect python to be v3, while in Ubuntu 18.04 it is still v2
      ansible_python_interpreter: /usr/bin/python3 
